/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color-base: #f1b2ce;
  --heading-color-base: #000028;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --logo-shadow: 4px 4px 0px #ff0070;
  --footer-logo-color: #db00ff;
}

.theme-dark .page {
  .content__link {
    --accent-color: #ff0070;
  }

  .header__theme-menu-button:hover {
    --accent-color-hover: rgba(255, 0, 112, 0.4);
  }

  .header__light-rec {
    visibility: visible;
  }
}
