/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color-base: #f1b2ce;
  --heading-color-base: #000028;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --logo-shadow: 4px 4px 0px #ff0070;
  --footer-logo-color: #db00ff;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
