:root.theme-light {
  --text-color-base: #353430;
  --heading-color-base: #353430;
  --section-heading-color: #ff8dcb;
  --header-logo-color: #ffc2e6;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #353430;
  --nav-color: #353430;
  --logo-shadow: 4px 4px 0px #ff8dcb;
  --footer-logo-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color-base: #353430;
    --heading-color-base: #353430;
    --section-heading-color: #ff8dcb;
    --header-logo-color: #ffc2e6;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #353430;
    --nav-color: #353430;
    --logo-shadow: 4px 4px 0px #ff8dcb;
    --footer-logo-color: #ffc2e6;
  }
}

@media (prefers-color-scheme: light) {
  .page .content__link {
    --accent-color: #ff8dcb;
  }

  .page .header__theme-menu-button:hover {
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }

  .page .header__light-rec {
    visibility: hidden;
  }
}

.theme-light .page {
  .content__link {
    --accent-color: #ff8dcb;
  }

  .header__theme-menu-button:hover {
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }

  .header__light-rec {
    visibility: hidden;
  }
}