/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  background-color: var(--background-color);
  inline-size: 100%;
  min-block-size: 100vh;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: var(--padding-base);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100vh;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  border: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--padding-base);
  right: var(--padding-base);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--padding-base);
  left: var(--padding-base);
  border-top: none;
  border-right: none;
}

.header__light {
  display: flex;
  align-items: center;
  gap: var(--gap-base);
  margin-inline-end: 9px;
  margin-block-end: 39px;
}

.header__light-rec {
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
  inline-size: 33px;
  block-size: 26px;
}

.header__light::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px; 
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.header__theme-menu-button {
  display: block;
  border: none;
  padding: 0px 13px;
  color: var(--accent-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
  appearance: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  align-self: start;
  margin-block: 65px 55px;
  line-height: 0.825;
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  text-shadow: var(--logo-shadow); 
}

.header__paragraph {
  inline-size: 355px;
  block-size: 117px;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-bold);
}

.title-decor {
  color: var(--heading-color-base);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--padding-base);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color-base);  
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color-base);
}

.content-section__heading {
  color: var(--accent-color);
  font-size: inherit;
}

.content-section__heading-regular {
  font-weight: var(--font-weight-regular);
}

.content-section__subheading {
  font-size: inherit;
}

.content-section__text {
  color: var(--text-color-base);
  line-height: var(--line-height-base);
  padding-inline-end: 4px;
  font-size: inherit;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-base);
}

.grid__image {
  inline-size: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  position: relative;
  min-block-size: 100vh;
}

.footer__logo {
  font-size: var(--footer-logo-size);
  color: var(--footer-logo-color);
  text-shadow: var(--logo-shadow);
}

@media (min-width: 768px) {
  :root {
    --padding-base: 20px;
  }

  .header__light {
    margin-block-end: 146px;
  }

  .header__title {
    margin-inline-start: calc(var(--padding-base) * -1);
    margin-block: 173px 162px;
  }

  .content {
    padding-block: 60px;
  }

  .content-section__heading {
    grid-column: 1;
    grid-row: 1;
    max-inline-size: 236px;
  }

  .content-section {
    grid-template-columns: max-content 1fr;
    align-items: start;
  }
  
  .content-section__column {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}